<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="g4nreact_reindex_product" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexProduct</item>
                <item name="g4nreact_reindexall_product" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexAllProduct</item>
                <item name="g4nreact_reindex_category" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexCategory</item>
                <item name="g4nreact_reindexall_category" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexAllCategory</item>
                <item name="g4nreact_reindex_cms" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexCms</item>
                <item name="g4nreact_reindexall_cms" xsi:type="object">G4NReact\MsCatalogMagento2\Console\Command\ReindexAllCms</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin sortOrder="1" name="g4nReeactMsCatalogMagento2DataProvider"
                type="G4NReact\MsCatalogMagento2\Plugin\Model\Category\DataProviderPlugin"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Setup\PropertyMapper">
        <plugin sortOrder="1" name="grodnoGrodnoPropertyMapper"
                type="G4NReact\MsCatalogMagento2\Plugin\Model\ResourceModel\Setup\PropertyMapperPlugin"/>
    </type>
    <preference for="Magento\Framework\Indexer\Config\SchemaLocator" type="G4NReact\MsCatalogMagento2\Config\Framework\Indexer\SchemaLocator" />
</config>

